.navbar {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #aaa;
   z-index: 9999; 
}

.nav-item {
  cursor: pointer;
  transition: color 0.2s ease;
  margin-left: 20px;
}

.nav-item:hover {
  color: #fff;
}

.nav-item.active {
  color: white;
  border-bottom: 2px solid white;
}
